<!DOCTYPE html>
<html lang="ja">
<head>
  <title>オフ会専用板(珍スポ探検隊)</title>
  <meta name="description" content="珍スポ研究室のオフ会用LINEオープンチャットです。" />
  <meta property="og:title" content="オフ会専用板(珍スポ探検隊)" />
  <meta property="og:description" content="珍スポ研究室のオフ会用LINEオープンチャットです。" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://chinspot.com/line-openchat/tankentai" />
  <meta property="og:image" content={new URL('/images/chinspot-tanken.png', Astro.url)} />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="オフ会専用板(珍スポ探検隊)" />
  <meta name="twitter:description" content="珍スポ研究室のオフ会用LINEオープンチャットです。" />
  <meta name="twitter:image" content={new URL('/images/chinspot-tanken.png', Astro.url)} />
</head>
<body>
  <script>
    window.location.href = 'https://line.me/ti/g2/PZfs6bwr4EejequqSQYxW5Xc3zFotxYJqI3S0w';
  </script>
</body>
</html>
