---
---

<style>
  @font-face {
    font-family: 'GamaMoji';
    src: url('/fonts/BT_Kgama.ttf') format('truetype');
  }
  
  :global(.gamamoji h3, .gamamoji strong) {
    font-family: 'GamaMoji';
    font-size: 2em;
  }
</style>

<div class="gamamoji">
  <slot />
</div>
