<a class="profile-card" href="/profiles/namunamu/" target="_blank">
  <div class="profile-card-header">
    <img src="/images/namunamu_240x240.webp" alt="なむなむ" class="profile-card-image" width={80} height={80} />
    <div class="profile-card-content">
      <div class="profile-card-title">なむなむ</div>
    </div>
  </div>
  <div class="profile-card-description">
    <p>珍スポ研究室の管理人のなむなむです。</p>
    <p>オープンチャットの管理人になったのがきっかけで、オフ会の企画などもするようになりました。</p>
    <p>珍スポ以外にも温泉、日本庭園、廃墟なども好きです。1988年生まれ、大阪府出身鎌倉在住。</p>
    <p>本業はITエンジニア。</p>
  </div>
</a>

<style>
.profile-card {
  display: block;
  padding: 12px;
  max-width: 670px;
  border: 1px solid rgba(92, 147, 187, .2);
  text-decoration: none;
  color: #222222;
  background-color: #ffffff;
}
.profile-card:hover {
  background-color: #eeeeee;
}
.profile-card-header {
  display: flex;
  gap: 12px;
  align-items: center;
}
.profile-card img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}
.profile-card-title {
  font-weight: bold;
  font-size: 1.3em;
}
.profile-card-description {
  margin-top: 12px;
  font-size: 0.9em;
}
.profile-card p {
  margin: 8px 0 0 0;
}
</style>
